.mainWrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  padding: 50px 20%;
}

.leftContent {
    padding: 0 20px 0 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 20px;
}