.mainWrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  padding-top: 50px;
}

.twoColWrapper {
  width: 80%;
  max-width: 1500px;
  height: 100%;
  display: flex;
}

.twoColWrapper section:nth-child(1) {
  width: 60%;
  padding: 0;
}

.twoColWrapper section:nth-child(2) {
  width: 40%;
  padding: 3em 5em;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.detailsWrapper {
  width: 75%;
}

.reviewContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  gap: 10px;
}

.divider {
    width: 100%;
    background-color: rgb(78, 78, 78);
    height: 1px;
}

.twoColWrapper h1 {
    padding: 10px 0;
    font-size: 3em;
}

.twoColWrapper h2 {
    padding: 10px 0;
    font-size: 1em;
}

@media (max-width: 1440px) {
  .detailsWrapper {
    width: 90%;
  }

  .twoColWrapper {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .detailsWrapper {
    width: 100%;
  }
  .twoColWrapper h1 {
    font-size: 2em;
  }

  .twoColWrapper section:nth-child(1) {
    width: 70%;
  }

  .detailsWrapper h3  {
    font-size: 11px;
    padding-right: 0.5em;
  }
  
  .twoColWrapper section:nth-child(2) {
    width: 30%;
    padding: 3em 1em;
  }
  
}

@media (max-width: 768px) {

  .twoColWrapper {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .twoColWrapper section:nth-child(2) {
    width: 65%;
  }
  
  .mainWrapper {
    padding-top: 0px;
  }
}
