.container {
  width: fit-content;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}

.overlay {
  background-color: black;
  mix-blend-mode: color;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
